.swiper-pagination{
    margin-top:40px;
    position:relative;
}

.swiper-pagination-bullet{
    width:10px;
    height:10px;
    background:#B4CCB4;
    opacity:1;
    transition:.3s;
}

.swiper-pagination-bullet-active{
    width:28px;
    border-radius:999px;
    background:#00B207;
}